<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#7ec0ee">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="/assets/index.css" rel="stylesheet" type="text/css"/>
    <title>LeaderBoard | twopics</title>
  </head>
  <body>
    <div id='nav-bar'>
      <h1> LeaderBoard </h1>
      <i class="fas fa-bars"></i>
      <div id='menu' class='active'>
        <a href='/profile'><p id='to-feed-btn'>Profile</p></a>
        <a href='/feed'><p id='to-feed-btn'>Feed</p></a>
        <a href='/leaderboard'><p id='to-feed-btn'>Leaderboard</p></a>
        <a href='/auth/logout'><p id='to-feed-btn'>Logout</p></a>
      </div>
    </div>
    <div id='leaderboard'>
      <ul class='answer-feed'>
        <%data.forEach((data)=>{%>
          <li>
            <p id='point-badge'><%=data.points%></p>
            <img id='prof-thumb' src='<%=data.thumbnail%>'/>
            <p id='user-info'><%=data.username%></p>
          </li>
          <%})%>
      </ul>
    </div>
    <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
    <script>$('.fa-bars').on('click',function(){
        $('#menu').toggleClass('active');
      })
</script>
  </body>
</html>
