<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#7ec0ee">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/index.css" rel="stylesheet" type="text/css"/>
    <title>4pics</title>
  </head>
  <body>
    <h1 id='logo'>2 pics 1 word</h1>
    <p id='slogan'> can you hack ?</p>
      <a href='/auth/google'><img id='google'src='http://cryoportal.enveo.at/static/web_auth/icons/google_icon.png'/></a>
  </body>
</html>
